
<div style="color:white" class="container border py-4">
    <h3 class="text-center">Restrotap</h3>
    
<form #signupForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="col-md-12">
    <label for="exampleInputEmail1" class="form-label">Full Name</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="form.name" placeholder="Enter Full Name" Required>
  <!-- <div class="alert alert-danger" >
   {{error}}
   </div> -->
  </div>

    <div class="col-md-12">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" [(ngModel)]="form.email" placeholder="Enter Email Address" Required>
      
    </div>
    <div class="col-md-12">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="form.password" placeholder="Enter Password" Required>
    </div>

    <div class="col-md-12">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="form.password_confirmation" placeholder="Enter Confirm Password" Required>
    </div>
    &nbsp;
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-outline-light" [disabled]="!signupForm.valid">Sign Up</button>
  </form>
  <a  class="btn btn-outline-light demo" routerLink="/login" >Sign In</a>
</div>